{:redis    {:pool {} :spec {:host "127.0.0.1"
                            :port 6379}}
 :database {:dbtype   "postgresql"
            :dbname   "algorithm_visualizer_gpter_fper"
            :host     "127.0.0.1"
            :port     5432
            :user     "postgres"
            :password "12345678"}}
