{:redis    {:pool {} :spec {:host "127.0.0.1"
                            :port 6379}}
 :database {:dbtype   "mysql"
            :dbname   "algorithm_visualizer_gpter_fper"
            :host     "127.0.0.1"
            :port     3306
            :user     "root"
            :password "12345678"}}
