{:deps   {:aliases [:cljs]}
 :builds {:fp {:target :browser
               :output-dir "src/main/resources/public/js"
               :modules
               {:rider {:init-fn function-program-visualgo-fp.app/init}}
               :devtools
               {:http-port  8001
                :http-root  "src/main/resources/public"
                :after-load function-program-visualgo-fp.app/after-load
                :preloads   [shadow.remote.runtime.cljs.browser]}}

          :test {:target   :browser-test
                 :test-dir "src/test/resources/public/js/test"
                 :devtools
                 {:http-port 8021
                  :http-root "src/test/resources/public/js/test"}}}}
